body{
    background-color: #2e2e2e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button_login{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button_login:hover{
    background-color: #45a049;
}

.button_login a{
    text-decoration: none;
    color: white;
}